* {
    margin: 0;
    padding: 0;
}
.container {
    border: 2px solid black;
    border-radius: 4px;
    margin: 100px auto auto auto;
    width: 700px;
    padding: 15px;
} 
.tab {
    background-color: white;
    overflow: hidden;
}
.tab button {
    float: left;
    background-color: inherit;
    border: none;
    padding: 12px 16px;
    font-size: 21px;
    color: #ddd;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tab button:hover {
    text-decoration: underline;
    color: black;
    
}
.tab button.active {
    text-decoration: underline;
    color: black;
   /* animation: fadeEffect 2.5s;*/
}

.tabcontent {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    animation: fadeEffect 2.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    fo {opacity: 1;}
}